nav a{
    text-transform: uppercase;
    text-align: center;
    color: black;
    font-weight: 300;
    font-size: 100%;
    text-decoration: none ;
    padding: 5%;

}

}
nav a:hover {
    color: red;
    text-decoration: underline;
}

h1 {
    text-align:center;
    background-color: aqua;
}
h3{
    font-style: oblique;
    background-color: pink;
}

p {
    text-align: center;
    font-size: medium;
}
strong {
    font-size: larger;
}

body {
    background-color: purple;
}
.tamanhho {
    width:30% ;
}
.centralizar {
    text-align: center;
}
.carro {
    background-color: forestgreen

}
.motor {
   color: aqua;
}
.lista {
        display: inline-block;
        padding: 5%;
        margin-right: 10%;
        color: fuchsia;
    }
